
<td scope="row"><a routerLink="/alumnoDetails/{{loquesea.matricula}}">{{loquesea.matricula}}</a></td>
<td >{{loquesea.nombre}}</td>
<td >{{loquesea.paterno}}</td>
<td >{{loquesea.materno}}</td>
<td ><button class="btn btn-warning" title="editar"
         (click)="delete(loquesea.matricula)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
	<button class="btn btn-danger" title="borrar alumno "
      (click)="delete(loquesea.matricula)"><i class="fa fa-eraser" aria-hidden="true"></i></button>
</td>
