<div style="text-align:center">
  
     <h1>{{ 'tituloComponent.title' | translate }}</h1>


 
  <div class="contenedor-botones">
    <button  class="btn btn-primary btn-lg" [ngClass]="{'disabled': activeLang == 'es'}" (click)="cambiarLenguaje('es')">Español</button>
    <button   class="btn btn-primary btn-lg" [ngClass]="{'disabled': activeLang == 'en'}" (click)="cambiarLenguaje('en')">Inglés</button>
    <button  class="btn btn-primary btn-lg" [ngClass]="{'disabled': activeLang == 'jp'}" (click)="cambiarLenguaje('jp')">Japonés</button>
     <button  class="btn btn-primary btn-lg" [ngClass]="{'disabled': activeLang == 'pr'}" (click)="cambiarLenguaje('pr')">Portugues</button>
  </div>
</div>