<h2>Login</h2>


<form #formulario="ngForm" [hidden]="submitted">
  <div class="form-group">
    <label for="user">usuario</label>
    <input type="text" class="form-control" id="user" placeholder="usuario" [(ngModel)]="user" name="user">
  </div>


   <div class="form-group">
    <label for="nombre">{{'formulario.nombre' | translate }}</label>
    <input type="password" class="form-control" id="password" placeholder="password" name="password" [(ngModel)]="password">
  </div>

   <button type="submit" class="btn btn-success" (click)="onSubmit();" >Submit</button>

</form>